<%= content_tag :div,
                id: 'receipt-form',
                data: {
                    id: @receipt.id,
                    receipt: @receipt.to_json(except: [:id, :created_at, :updated_at]),
                    items_attributes: @receipt.items.to_json(except: [:receipt_id, :created_at, :updated_at]),
                } do %>
  <% if @receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@receipt.errors.count, 'error') %> prohibited this receipt from being saved:</h2>

      <ul>
      <% @receipt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-12 form-group">
      <label>Store</label>
      <input type="text" class="form-control" v-model="receipt.store">
    </div>
  </div>

  <div class="row">
    <div class="form-group col-4">
      <label>Base Amount</label>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="text" class="form-control" v-model="receipt.base_amount">
      </div>
    </div>

    <div class="form-group col-4">
      <label>Tax Amount</label>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="text" class="form-control" v-model="receipt.tax_amount">
      </div>
    </div>

    <div class="form-group col-4">
      <label>Total Amount</label>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="text" class="form-control" v-model="receipt.total_amount">
      </div>
    </div>
  </div>

  <div class="actions">
    <button type="submit" class="btn btn-primary">Submit</button>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                receipts_path, :class => 'btn btn-default' %>
  </div>
<% end %>
